
.main__goods{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}
.main__goods-item{
    width: 760px;
    height: 180px;
    background:#5960EA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main__card{
    width: 300px;
    min-height: 350px;
    background: #5960EA;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    display: flex;flex-direction: column;
}
.container{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 0 auto;
}
.main__goods-img{
    width: 135px;
    height: 135px;
    background: url(../images/kgZjIJZ7zRk.jpg);
    background-size: cover;
}
.main__goods-title{
    color: white;
    margin-left: 40px;
    margin-top: -60px;
}
.main__goods-item-item{
    display: flex;
    height: 180px;
    width: 350px;
    align-items: center;
    justify-content: center;
}
.main__goods-btn>button{
    width: 130px;
    height: 40px;
    color: white;
    background:#FF7272;
    border: 0px;
    border-radius: 5px;
}
.main__goods-btn>button:hover{
    transition: 1s;
    background:red;

}
.main__goods-cost{
    color: white;
}
.main__goods-cost-btn{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main__card-one{
    color: white;
}
.main__card-all{
    color: white;
}
.main__card-cost{
    color: white;
    margin-top: 70px;
}
.main__card-title{
    color: white;
}
.main__card-order{
    color: white;
    background:#FF7272;
    border-radius: 5px;
    border: 0px;
    width: 130px;
    height: 40px;
}
.main__card-item{
    width: 270px;
}
.main__card-order:hover{
    transition: 1s;
    background:red;

}
@media screen and (max-width:"1810px"){
    .container{
        width: 70%;
    }
}
@media screen and (max-width:"1565px"){
    .container{
        width: 80%;
    }
}
@media screen and (max-width:"1390px"){
    .container{
        width: 90%;
    }
}
@media screen and (max-width:"1210px"){
    .container{
        width: 100%;
    }
}
@media screen and (max-width:"1090px"){
    .container{
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .main__card{
        margin-top: 50px;
        margin-left:-450px;
    }
}
@media screen and (max-width:"785px"){
    .main__card{
        margin-top: 50px;
        margin-left:-350px;
    }
    .main__goods-item{
        width: 640px;
    }
}

@media screen and (max-width:"675px"){
    .main__card{
        margin-top: 50px;
        margin-left:-150px;
    }
    .main__goods-btn>button{
        width: 60px;
        height: 30px;
    }
    .main__goods-img{
        width: 100px;
        height: 100px;
    }
    .main__goods-item{
        width: 440px;
    }
    .main__goods-cost{
        font-size: 14px;
        margin-top: 20px;
    }
    .main__goods-title{
        font-size: 14px;
    }
    .main__goods-item-item{
        width: 200px;
    }
}
@media screen and (max-width:"455px"){
    .main__card{
        margin-top: 50px;
        margin-left:-40px;
    }
    .main__goods-btn>button{
        width: 60px;
        height: 30px;
    }
    .main__goods-img{
        width: 100px;
        height: 100px;
    }
    .main__goods-item{
        width: 340px;
    }
}
@media screen and (max-width:"455px"){
    .main__card{
        margin-top: 50px;
        margin-left:0px;
    }
    .main__goods-btn>button{
        width: 60px;
        height: 30px;
    }
    .main__goods-img{
        width: 70px;
        height: 70px;
    }
    .main__goods-item{
        width: 300px;
    }
    .main__goods-item-item{
        width: 150px;
    }
}