body{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    justify-content: space-around;
    width: 800px;
    display: flex;
}
.goods__info-title-item{
    color: #222222;
}
.goods__info-title{
    width: 300px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.goods__img{
    width: 440px;
    height: 450px;
    background: url(../images/ARNldy4-oqo.jpg);
    background-size: cover;
}
.goods__info-shortDes{
    min-width: 300px;
    min-height: 150px;
}
.goods__info{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.goods__info-shortDes>ul{
    margin-top: 60px;
    margin-left: -30px;
}
button{
    width: 130px;height: 40px;
    background:#FF7272;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: -180px;
}
.goods__description{
    margin-top: 200px;
    width: 100%;
    background:#5960EA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.goods__description-item{
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.goods__description-item>h2{
    font-size: 48px;
}
.goods__description-item>h3{
    font-size: 24px;
}
.goods_recommendation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}
.goods_recommendation-border{
    width: 100%;
    border: 2px solid #5960EA;
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    margin-top: 50px;
}
.goods_recommendation-item{
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.goods_recommendation-img{
    width: 225px;
    height: 120px;
    background:url(../images/ARNldy4-oqo.jpg) ;
    background-size: cover;
}
.goods_recommendation-title{
    font-size: 48px;
}
@media screen and (max-width:"1550px"){
    .goods_recommendation-border{
        border: 0px;
    }
    .goods_recommendation-item{
        width:230px;
        height: 1400px;
        flex-direction: column;
    }
    .goods_recommendation-border{
        height: 100%;
    }
    .goods_recommendation-img{
        height: 240px;
        border: #5960EA 2px solid;
    }
}
@media screen and (max-width:"1550px"){
    .goods__description-item>h3{
        font-size: 20px;
    }
    .goods__description-item{
        width: 600px;
    }
    .goods__img{
        width: 340px;
    }
    .container{
        width: 700px;
    }
}
@media screen and (max-width:"730px"){
    .container{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .goods__info{
        width: 340px;
        border: 1px solid #5960EA;
    }
    button{
        margin: 0 auto;
    }
    .goods__description-item{
        width: 400px;
    }
}
@media screen and (max-width:"730px"){
    .goods_recommendation-title{
        font-size: 36px;
    }
}
@media screen and (max-width:"430px"){
    .goods_recommendation-title{
        font-size: 36px;
    }
    .goods__description-item>h3{
        font-size: 16px;
    }
}
@media screen and (max-width:"350px"){
    .goods_recommendation-title{
        font-size: 24px;
    }
    .goods__info{
        width: 310px;
        border: 1px solid #5960EA;
    }
    .goods__img{
        width: 310px;
    }
}